<div class="container" style="text-align: left;">
  <h1>Simple Calculator using Angular</h1>

  <form ng-app="" name="myForm">
    <div> <button class="form-group btn btn-success bttn" (click)="clear()"> Clear </button></div>
    <div> <input name="Operand1" type="number" [(ngModel)]="num1" required placeholder="First number"
        onfocus="this.placeholder = ''" onblur="this.placeholder = 'First number'">
      <input name="Operand2" type="number" [(ngModel)]="num2" required placeholder="Second number"
        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Second number'">

    </div>

    <div>
      <button class="form-group btn btn-success bttn" (click)="onAddition()"> + </button>
      <button class="form-group btn btn-success bttn" (click)="onSubtraction()"> - </button>
      <button class="form-group btn btn-success bttn" (click)="onDivision()"> / </button>
      <button class="form-group btn btn-success bttn" (click)="onMultiplication()"> * </button>
      <button class="form-group btn btn-success bttn" (click)="reverse(num1)"> Reverse </button>

      <button class="form-group btn btn-success bttn" (click)="combinenum(num1)"> combine </button>


    </div>

    <div *ngIf="displaycombine">
      <h2>Combinations are </h2>
      <div *ngFor="let value of results">
        {{value}}
      </div>
    </div>


    <div *ngIf="displayname">
      Result of {{num1}} and {{num2}} <input disabled value="{{result}}">
    </div>
    <div *ngIf="displayreverse">
      Reverse of {{num1}} is <input disabled value="{{result}}">
    </div>







    <!--  <h4 *ngIf="displaysum">The sum of {{num1}} and {{num2}} is {{sum}}. </h4>
      <h4 *ngIf="displaysub">The subtraction of {{num1}} and {{num2}} is {{sub}}. </h4>
    -->
  </form>


</div>




<router-outlet></router-outlet>